body{
    background-color: #1F2937;
    text-align: center;
}

h1{
    color: white;
}

img{
    width: 300px;
    height: 300px;
    border: 5px solid white;
    border-radius: 10px;

}
.images{
    display: flex;
    flex-direction: row;
    gap: 64px;
    justify-content: center;
    padding: 100px;

}

.text{
    color: white;
    text-align: center;
    font-size: large;
    font-weight: bold;

}